/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Orbit&display=swap');

* {
  font-family: 'Orbit', sans-serif;
  color: rgb(65, 65, 65);
}

/* variables */
:root {
  --light-gray: #e1e1e1;
  --main-border: 1px solid var(--light-gray);
}

/* Component */
button {
  font-weight: bold;
  width: 100px;
  border: none;
  border-radius: 20px;
  /* margin-bottom: 20px; */
  padding: 10px;
  cursor: pointer;
  background-color: turquoise;
  transition: background-color 0.3s ease-in-out;
}

button:hover {
  background-color: rgb(5, 199, 179);
}

/* Editor */
.DiaryEditor {
  text-align: center;
  margin: 20px;
  padding: 30px;
  border: var(--main-border);
}

.DiaryEditor input,
.DiaryEditor textarea {
  margin-bottom: 20px;
  width: 600px;
  padding: 10px;
  border: var(--main-border);
}

.DiaryEditor textarea {
  height: 200px;
}

.DiaryEditor select {
  width: 80px;
  margin-bottom: 20px;
  padding: 5px;
}

::placeholder {
  color: var(--light-gray);
}

/* List  */
.DiaryList {
  margin: 20px;
  padding: 30px;
  border: var(--main-border);
}

.DiaryList h2 {
  text-align: center;
}

/* Item  */
.DiaryItem {
  background-color: rgba(240, 240, 240, 0.7);
  margin-bottom: 20px;
  padding: 20px;
}

.DiaryItem .info {
  border-bottom: var(--main-border);
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.DiaryItem .date {
  font-size: 14px;
  color: #aaaaaa;
}

.DiaryItem .content {
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 30px;
}
